h1 {
  color:purple;
  font-size:40px;
}
h2 {
  font-size:30px; color:green
}
p {
  text-align: center;
  color:Red;
  font-size:15px;
}
all{
  padding: 25px 50px;
  text-align:center;
}
body {
    background-image:"mountains.jpg";
}
img {
  padding: 25px 50px;
  text-align:center;
h3 {text-align:center

}
