h1 {
  color:purple;
  font-size:50px;
}
h2 {
  font-size:30px; color:green
}
p {
  text-align: center;
  color:black;
  font-size:20px;
  border: 1px solid black;
  background-color: lightblue;
  padding: 50px 30px 50px 90px;
}
all{
  padding: 25px 50px;
  text-align:center;
}
 body {
    background-color: lightpink;
}
img {
  padding: 25px 50px;
  text-align:center;
h3 {text-align:center

}
p.serif {
    font-family: "Georgia", Times, serif;
  }
h1.serif {
    font-family: "Georgia", Times, serif;
    }
h2.serif {
    font-family: "Georgia", Times, serif;
      }
h3.serif {
    font-family: "Georgia", Times, serif;
        }
